* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon {
    width: 25px;
}

.profile-pic {
    width: 40px;
}

.container {
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 12fr;
    gap: 4px;
}

.container div {
    padding: 15px;
}

.header {
    background-color: blue;
    grid-column-start: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: palevioletred;
}

.search-container input {
    margin: 5px;
    min-width: 50%;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    justify-items: center;

    background-color: chocolate;
}

.big-profile-pic {
    width: 70px;
}


.welcome-container {
    display: flex;
    justify-items: start;
    /* grid-template-columns: 1fr 1fr; */

    background-color: bisque;
}

.welcome-text {
    display: grid;
    grid-template-rows: 1rem 1rem;
    gap: 10px;
    align-items: center;
    justify-items: start;
}

.welcome-message {
    font-size: .9rem;
}

.welcome-name {
    font-size: 2rem;
    }

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    background-color: grey;
}

button {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}


.sidebar {
    display: grid;
    grid-template-rows: 1fr 5fr 8fr;
    grid-row: 1 / 3;
    gap: 4px;

    background-color: pink;
}

.sidebar-header {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 10px;
}

.dashboard-icon {
    width: 60px;
    }

.sidebar div {
    background-color: blueviolet;
}

.sidebar-styles {
    font-size: 17px;
    font-weight: 600;
    list-style-type: none;
}

.sidebar-styles li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.sidebar-styles img {
    width: 35px;
}

.menu_1 {
    display: grid;
}

.menu_2 {
    display: grid;
}


.main {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 3fr 1fr;
    /* align-content: space-between; */

    background-color: aqua;
}

.project_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;

    background-color: darkgray;
}

.project_container_header {
    grid-column: 1 / 3;
    display: grid;

    justify-content: start;
    align-items: end;

    border: solid slateblue;
}

.announcement_container_header {
    display: grid;
    justify-items: start;
    }

.trending_container_header {
    display: grid;
    justify-items: start;
}

.project_item {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1rem 1fr;
    grid-template-areas: none;

    background-color: sandybrown;
}

.news_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 4px;

    background-color: maroon;
}

.announcement_container {
    display: grid;
    gap: 4px;

    background-color: bisque;
}

.announcement_item {
    display: grid;

    background-color: cornflowerblue;
}

.trending_container {
    display: grid;
    gap: 4px;


    background-color: honeydew;
}

.trending_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    
    background-color: forestgreen;
}
