* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 12fr;

    gap: 4px;
}

.container div {
    padding: 15px;
}

.header {
    background-color: blue;
    grid-column-start: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sidebar {
    background-color: pink;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
}

.sidebar ul {
    display: grid;
    list-style-type: none;
}

.main {
    background-color: aqua;
    grid-column-start: 2;

    display: grid;
    grid-template-columns: 3fr 1fr;
}

.project_container {
    display: grid;
    gap: 4px;

    grid-template-columns: 1fr 1fr;
}

.project_item {
    background-color: sandybrown;
}

.news_container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 5fr;
}

.announcement_container {
    display: grid;
    background-color: bisque;
}

.announcement_item {
    display: grid;
}

.trending_container {
    display: grid;
    background-color: honeydew;
}

h2 {
    display: grid;
    align-items: end;
    justify-items: start;
}



